/* GENERAL */
.profile{
    padding-top: 20px;
    position: relative;

    min-height: 100vh;

    background: url(/images/ProfileTheme3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.profile__window{
    max-width: 40%;
    
    margin: auto;
    padding: 30px;

    background-color: rgba(19, 19, 19, 0.84);

    border-radius: 15px;
}
.profile__window__block{
    margin-top: 5px;
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
    color: white;

    padding: 10px;
}
.profile__window__block__title{
    padding-top: 5px;
    font-size: medium;
    text-align: center;

    border-bottom: 1px solid #616161;
    padding-bottom: 0.5px;
}
/* HEADER */
.profile__window__header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
}
.profile__window__header__inner{
    display: flex;
    align-items: center;
    gap: 10px;

    text-transform: capitalize;
}
.profile__picture{
    width: 167px;
    height: 167px;

    border-radius: 100%;
}
.profile__window__header__inner__name{
    color: rgb(105, 188, 226);
    font-size: larger;
}
/* ABOUT */
.user__about__text{
    padding: 20px;
}
/* MESSAGES */
.profile__window__messages{
    min-height: 10%;
}
.profile__window__messages__block{
    padding: 25px 0;
    text-align: center;
}
/* STATISTICS */
.user__profile__inner__statistics{
    margin-top: 5px;
    background-color: rgba(32, 32, 32, 0.9);
    border-radius: 10px;
    color: white;
}
.profile__window__block__statistic{
    display: flex;
    justify-content: space-evenly;

    color:#fff;
    padding:10px;
    font-size: large;
}
.profile__window__block__statistic__elem__value{
    font-size: small;
    color:#ff9999;
}
/* ADMIN PROFILE */
.admin__devlogs{
    display: flex;
    justify-content: space-evenly;

    padding: 10px 5px;
}
.admin__devlogs__options{
    border: solid 1px #00000070;
    border-radius: 25px;

    padding: 15px 10px;

    cursor: pointer;
}
.admin__devlog__create{
    display: none;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    
    width: 50%;

    margin: auto;

    gap: 10px;
}
.admin__devlog__create__input{
    background-color: rgb(70, 70, 70);;

    border: none;
    border-radius: 25px;

    padding: 10px 5px;

    text-transform: capitalize;

    color: #fff;
    font-size: 24px;
}
.admin__devlog__create input[type="text"]{
    min-height: 20px;
}
.admin__devlog__create input[type="submit"]{
    margin: auto;

    background-color: green;

    width: fit-content;

    cursor: pointer;

    transition: ease-in 0.2s;
}
.admin__devlog__create input[type="submit"]:hover{
    padding: 10px 15px;
}
.admin__devlog__edit{
    display: none;
    flex-direction: column;

    padding: 5px 10px;

    gap: 10px;
}
.admin__devlog__edit__block{
    display: flex;
    justify-content: space-between;
}
.admin__devlog__edit__block__delete{
    background-color: red;

    border: none;
    border-radius: 25px;

    color: #fff;

    padding: 10px 5px;

    cursor: pointer;
}
/* INPUTS */
#writeMessageBlock{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: fit-content;

    margin: auto;
}
.message__text{
    text-align: left;
}